<%= notice %>
<div class="col-md-4 mx-auto">
  <h1 class="top-heading">welcome to <i class="fas fa-book"></i>Bookers!!</h1>
  <div class="top-body">
    <p>In <i class="fas fa-book"></i>Bookers,</p>
    <p>you can shere and exchange your opinions, inpressions </br>
    and emotions</p>
    <p>about various books!</p>
  </div>
  <div class="button">
    <div class="login-button">
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-info w-75 ml-5 mb-2" %>
    </div>
    <div class="signup-button">
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success w-75 ml-5" %>
    </div>
  </div>
</div>